.fancy {
    color: #fca311;
  }

  .splash {
    h1 {
    color: #463f3a;
    }

    h2{
        color: #495057;
        font-family: sans-serif;
    }

    h3{
        color: #6C757D;
        font-weight: 400;
    }
}

.right {
    text-align: right;
}


